<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week 4 </title>
    <div style="padding: 20px;background-color: rgb(12, 33, 59);color : white;font-size: 25px;text-align: center">失敗頁面</div>
    <script>
        function goBack(){
            window.location.href = "/";

        }
    </script>
</head>
<body>
    <div style="text-align: center;padding-top: 40px ;" >
        <div style="font-size: 20px;" >{{message}}</div>
        <div type="button"style="margin-top: 15px;text-decoration: underline" onclick="goBack();">返回上一頁</div>
        
    </div>
    
    
</body>
</html>